.sectionZdorova {
  width: 100%;
  height: auto;
}

.wrapperZdorova {
  display: flex;
  flex-direction: column;
  width: 1078px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperZdorova {
    width: 360px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperZdorova {
    width: 768px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .wrapperZdorova {
    width: 1025px;
    height: auto;
    padding: 0px;
  }
}
.wrapperSectionZdor {
  margin: 0px auto 60px auto;
  width: 1078px;
  height: 609px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperSectionZdor {
    width: 360px;
    margin: 0px auto 30px auto;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperSectionZdor {
    width: 768px;
    height: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {

  .wrapperSectionZdor {
    width: 1025px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.titleChomu {
  margin: 120px auto 80px auto;
  color: #f5821e;
  font-size: 60px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .titleChomu {
    margin: 40px auto 20px auto;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titleChomu {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 1px;
    margin: 40px auto 40px auto;
  }
}

.arguments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-column-gap: 71px;
  grid-row-gap: 61px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .arguments {
    grid-column-gap: 20px;
    grid-row-gap: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .arguments {
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .arguments {

    grid-column-gap: 25px;
    grid-row-gap: 20px;

  }
}
.itemZdorova {
  display: block;
  width: 312px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .itemZdorova {
    display: flex;
    flex-direction: column;
    width: 170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemZdorova {
    display: flex;
    flex-direction: column;
    width: 339px;
  }
}
.imageZdorova {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .blueImg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blueImg {
    width: 60px;
    height: 60px;
  }
}
.titleZdorova {
  margin-bottom: 12px;
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .titleZdorova {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #00aff0;
  }
  .colorMobile {
    color: #91c81e;
  }
}
.textZdorova {
  color: #5a5f69;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 21px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .textZdorova {
    font-size: 12px;
    line-height: 18px;
  }
}
.addInformation {
  display: flex;
  margin-top: 60px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .addInformation {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .addInformation {
    margin-top: 20px;
  }
}
.ticSvg {
  margin-right: 16px;
}
.textDescriptionZdor {
  margin-right: 44px;
  color: #00aff0;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .textDescriptionZdor {
    margin-right: 0px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .textDescriptionZdor {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .textDescriptionZdor {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .forTabletMargin {
    margin-right: 123px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .ticImg {
    width: 16px;
    height: 16px;
  }
}
