.list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1296px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .list {
    flex-direction: column;
    max-width: 360px;
  }
}

