.listInfoWater {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .listInfoWater {
    margin-left: 0px;
  }
}
.itemTitleWater {
  margin-bottom: 16px;
  color: #91c81e;
  font-size: 32px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .itemTitleWater {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTitleWater {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
  }
}

.itemTitleWater2 {
  width: 100%;
  margin-bottom: 16px;
  color: #91c81e;
  font-size: 18px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .itemTitleWater2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    /* letter-spacing: 100%; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTitleWater2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
  }
}

.itemTitleWater3 {
  margin-top: 20px;
  font-size: 18px;
  color: #5a5f69;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
}
.itemTextWater {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}
.itemTextWater:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTextWater {
    font-size: 14px;
    line-height: 20px;
  }
}

.addClass {
  margin-top: 10px;
}

.listOfBottles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1078px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .listOfBottles {
    flex-direction: column;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .listOfBottles {
    max-width: 768px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .listOfBottles {
    max-width: 1024px;
  }
}

.itemCatalogWater {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 504px;
  padding: 16px;
  border: 1px solid #e6ebf0;
  border-radius: 14px 14px 14px 14px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .itemCatalogWater {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemCatalogWater {
    flex-direction: column;
    max-width: 376px;
  }
}

.imgBottleCatalog {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .imgBottleCatalog {
    height: auto;
  }
}
.itemDescriptionPrice {
  display: flex;

  justify-content: space-between;
}

.itemTitlePureWater {
  margin-bottom: 16px;
  color: #91c81e;
  font-size: 20px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .itemTitlePureWater {
    margin-bottom: 8px;
  }
}
.itemTitleMineralWater {
  margin-bottom: 16px;
  color: #00aff0;
  font-size: 20px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .itemTitleMineralWater {
    margin-bottom: 8px;
  }
}
.itemSubTitle {
  margin-bottom: 16px;
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .itemSubTitle {
    margin-bottom: 8px;
  }
}
.itemPricePerBottle {
  margin-bottom: 8px;
  color: #b3cbdb;
  font-size: 20px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .itemPricePerBottle {
    margin-bottom: 8px;
    color: #b3cbdb;
    font-size: 16px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: none;
  }
}

.itemPricePerBottleWhiteText {
  margin-bottom: 8px;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .itemPricePerBottleWhiteText {
    margin-bottom: 8px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
    text-transform: none;
  }
}
.wrapperButton {
  display: flex;
  justify-content: center;
}
.itemChoseQuantity {
  color: #5a5f69;
  font-size: 32px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .itemChoseQuantity {
    color: #5a5f69;
    font-size: 24px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: none;
  }
}
.buttonCatalogWater {
  display: flex;
  width: 499px;
  height: 60px;
  margin-top: 16px;

  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
