.listInfoDispenser {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoDispenser {
    margin-left: 0px;
  }
}
.itemTitleDispenser {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .itemTitleDispenser {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTitleDispenser {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
  }
}

.itemTitleDispenser2 {
  margin-bottom: 8px;
  color: #f5821e;
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .itemTitleDispenser2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTitleDispenser2 {
    padding-top: 16px;
  }
}
.itemTextDispenser {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.itemTextDispenser:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .itemTextDispenser {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
