p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: none;
}

.containerForFeedback {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin: 0px auto 0px auto; */
  width: 100%;
  height: 852px;
  background-color: #00aff0;
  border-color: transparent;
}

/* }
.custom-wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotateY(180deg);
}
.custom-wave-top svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 59px;
  transform: rotateY(180deg);
}

.custom-wave-top .shape-fill {
  fill: #fff;
}
.custom-wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-wave-bottom svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 59px;
  transform: rotateY(180deg);
}

.custom-wave-bottom .shape-fill {
  fill: #fff;
} */

.wrapperF {
  display: flex;
  flex-direction: row;
  margin-left: 181px;
  width: 1259px;
  height: 210px;
}
.imageClient {
  margin-right: 20px;
  width: 130px;
}
/* .imageClientLast {
  margin-right: 35px;
} */
.clientName {
  /* margin-right: 16px; */
  width: 361px;
}
.name {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
.description {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

img {
  max-width: none;
}

.custom-animation {
  color: #91c81e;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  animation-name: ping;
  animation-duration: 2s;
}

@keyframes ping {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
