.wrapperFaq {
  display: flex;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .wrapperFaq {
    width: 100%;
    height: auto;
  }
}
.containerFaq {
  display: flex;
  flex-direction: column;
  width: 858px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .containerFaq {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .containerFaq {
    width: 768px;
    height: auto;
  }
}

.titleFaq {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #f5821e;
  font-size: 60px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .titleFaq {
    margin: 40px auto 20px auto;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titleFaq {
    margin: 40px auto 20px auto;
    font-size: 42px;
    line-height: 46px;
  }
}

.faq {
  margin-left: auto;
  margin-right: auto;
  width: 858px;
}
@media screen and (max-width: 767px) {
  .faq {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .faq {
    width: 768px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.itemFaq {
  padding-top: 32px;
  padding-bottom: 33px;
  border-bottom: 1px solid #e6ebf0;
}
@media screen and (max-width: 767px) {
  .itemFaq {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemFaq {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.questionFaq {
  display: flex;
  justify-content: space-between;
  color: gray;
  cursor: pointer;
}
.textQuestion {
  color: #5a5f69;
  font-size: 20px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .textQuestion {
    font-size: 18px;
    line-height: 24px;
  }
}
.answer {
  width: 750px;
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .answer {
    width: 320px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }
}
.newParagraph:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .newParagraph:not(:last-child) {
    margin-bottom: 8px;
  }
}
