.section {
  width: 100vw;
  height: auto;
  padding-top: 130px;
}
@media screen and (max-width: 767px) {
  .section {
    width: 100%;
    height: auto;
    padding-top: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding-top: 36px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .section {
    padding-top: 130px;
  }
}
.wrapper {
  width: 100%;
  max-width: 1296px;
  height: auto;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 16px;
}
@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0px auto 40px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    margin: 0px auto 40px auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    margin: 0px auto 40px auto;
  }
}
