.listInfoPumps {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoPumps {
    margin-left: 0px;
  }
}
.itemTitlePumps {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTitlePumps {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .itemTitlePumps {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 28px;
  }
}
.itemTitlePumps2 {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTitlePumps2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .itemTitlePumps2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 18px;
  }
}

.itemTextPumps {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.itemTextPumps:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTextPumps {
    font-size: 14px;
    line-height: 20px;
  }
}
