.steps-list-wrapper {
  max-width: 1080px;
  display: flex;
  flex-direction: row;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .steps-list-wrapper {
    max-width: 767px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .steps-list-wrapper {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.steps-list-wrapper > * {
  font-weight: 500;
}

.steps-list-item {
  position: relative;
  max-width: 300px;
  height: 300px;
  margin-right: auto;
}
.steps-list-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #5a5f69;
  top: 0;
  right: 5px;
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .steps-list-item::after {
    right: -20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 1023px) {
  .steps-list-item::after {
    display: none;
  }
}

.steps-list-text {
  margin-bottom: 12px;
}

.steps-title {
  text-transform: uppercase;
  color: #00aff0;
  font-weight: 600;
  font-size: 32px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .steps-title {
    font-size: 27px;
  }
}

.steps-schedule-list {
  margin-bottom: 20px;
}

.steps-schedule {
  color: #91c81e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  list-style-type: disc;
  list-style-position: inside;
}
.steps-schedule::marker {
  color: #91c81e;
}
