

.wrapperInfo{
     display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 24px;
      padding-top: 80px;
}

.listIcons{
    display: flex;
    flex-direction: row;
    gap:16px
}