.wrapperActionFirst {
  width: 1080px;
  height: 392px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid #00aff0;
  background-color: #fff;
}

@media screen and (min-width: 360px) and (max-width: 1023px) {
  .wrapperActionFirst {
    width: 360px;
    height: 250px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperActionFirst {
    width: 550px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapperActionFirst {
    width: 750px;
  }
}



.wrapperTextAndButtonActionFirst {
  display: flex;
  flex-direction: column;
  width: 858px;
  height: 322px;
  margin: 35px 111px 35px 111px;
}




@media screen and (min-width: 360px) and (max-width: 1023px) {
  .wrapperTextAndButtonActionFirst {
    width: 340px;
    height: 230px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapperTextAndButtonActionFirst {
    width: 550px;
  }
}


.titleActionFirstMeet {
  /* height: 59px; */
  color: #00aff0;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .titleActionFirstMeet {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.textActionFirstMeet {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #5a5f69;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .textActionFirstMeet {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 360px) and (max-width: 1023px) {
  .textDescriptionFirstMeet {
    font-size: 12px;
    line-height: 10px;
  }
}
.additionalInfoFirstMeet {
  width: 858px;
  height: 71px;
  margin-bottom: 24px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .additionalInfoFirstMeet {
    width: 340px;
    height: auto;
    margin-bottom: 20px;
  }
}
.textDescriptionFirstMeetAction {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .textDescriptionFirstMeetAction {
    margin-bottom: 0px;
  }
}
.attention {
  margin-right: 3px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .imgAttention {
    width: 8px;
    height: 8px;
  }
}

.subTextDescriptionFirstMeet {
  color: #5a5f69;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-wrap: balance;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .subTextDescriptionFirstMeet {
    font-size: 12px;
    line-height: 14px;
  }
}
.buttonActionFirstMeet {
  width: 240px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  border-radius: 14px 14px 14px 14px;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .buttonActionFirstMeet {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }
}

/* .sliderFirstMeet {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
.swiper-pagination {
  position: unset !important;
}
.swiper-slide {
  display: flex !important;
} */

/* @media screen and (max-width: 1023px) {
  .wrapperActionFirst,
  .wrapperNewClient,
  .wrapperInfoNewClient,
  .wrapperInfoFirstCard,
  .additionalInfoFirstMeet {
    max-width: 360px;
  }
}

@media screen and (max-width: 1023px) {
  .additionalInfoFirstMeet {
    margin-bottom: 40px;
  }

  .wrapperTextAndButtonActionFirst,
  .wrapperNewClient {
    width: 300px;
    margin: 10px;
  }

  .textDescriptionFirstMeetAction p {
    font-size: 12px;
    text-wrap: balance;
  }

  .titleActionFirstMeet {
    font-size: 18px;
  }
  .textActionFirstMeet {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .attention p {
    font-size: 14px;
  }
} */
