.itemInfoBottle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  height: 408px;
}
@media screen and (max-width: 767px) {
  .itemInfoBottle {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemInfoBottle {
    width: 376px;
    height: auto;
    padding-left: 5px;
  }
}

/* проверить отступы */
.listInfoBottle {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoBottle {
    margin-left: 0px;
  }
}
.itemTitleBottle {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTitleBottle {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .itemTitleBottle {
    margin-bottom: 8px;
    font-size: 25px;
    line-height: 28px;
  }
}

.itemTextBottle {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.itemTextBottle:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .itemTextBottle {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTextBottle {
    font-size: 14px;
    line-height: 18px;
  }
}
.OrderWater {
  color: black;
  font-weight: 600;
}
