.containerEconom {
  display: flex;
  position: relative;
  flex-direction: row;

  /* height: 438px; */
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.wrapperInfoEconom {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 392px;
  border-radius: 50px 50px 50px 50px;
  background-color: #00aff0;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .wrapperInfoEconom {
    width: 360px;
    height: 250px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperInfoEconom {
    width: 550px;
    
    
  }
}





@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapperInfoEconom {
    width: 750px;
  }
}

.wrapperTextAndButtonEconom {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 226px;
  margin: 83px 0px 83px 40px;
  justify-content: center;
  align-items: center;
  
}
@media screen and (max-width: 1023px) {
  .wrapperTextAndButtonEconom {
    width: 330px;
    height: 230px;
    margin-top: 0;
  margin-left: auto;
    margin-right: auto;
  }
}
.titleEconom {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .titleEconom {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
}
.textEconom {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (max-width: 1023px) {
  .textEconom {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
}
.buttonEconom {
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 1023px) {
  .buttonEconom {
    width: 200px;
    height: 50px;
  }
}
.cornerEconom {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1023px) {
  .cornerEconom {
    display: none;
  }
}
.imagesEconom {
  width: 642px;
  height: 425px;
  margin-top: 26px;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .imagesEconom {
    display: none;
  }
}
.rotated-textEconom {
  transform: rotate(302deg);
  transform-origin: left top;
  writing-mode: vertical-lr;
  position: absolute;
  right: 188px;
  top: 30%;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .rotated-textEconom {
    display: none;
  }
}
.sliderFirstMeet {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
.swiper-pagination {
  position: unset !important;
}
.swiper-slide {
  display: flex !important;
}
