.sectionSmak {
  width: 100vw;
  /* height: 1400px; */

  padding: 15px;
  background-color: #fff;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .sectionSmak {
    width: 100%;
    height: auto;
    padding: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sectionSmak {
    /* height: 900px; */
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .sectionSmak {
    /* height: 1280px; */
    padding: 0px;
  }
}
.containerSmak {
  display: flex;
  flex-direction: column;
  width: 1078px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .containerSmak {
    width: 360px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerSmak {
    width: 768px;
    height: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .containerSmak {
    width: 1025px;
    height: auto;
  }
}
.titleSmak {
  color: #f5821e;
  font-size: 60px;
  margin: 120px auto 80px auto;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .titleSmak {
    font-size: 30px;
    margin: 60px auto 40px auto;
    line-height: 35px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titleSmak {
    font-size: 42px;
    margin: 60px auto 40px auto;
    line-height: 46px;
    letter-spacing: 2px;
  }
}
.cardOneSmak {
  display: flex;
  flex-direction: row;
  width: 1078px;
  height: 427px;
  padding-top: 71px;
  margin-bottom: 40px;
  border-radius: 14px 14px 14px 14px;
  /* justify-content: center; */
  background-color: #e6ebf0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .cardOneSmak {
    width: 360px;
    height: auto;
    padding-top: 31px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cardOneSmak {
    width: 768px;
    height: 320px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .cardOneSmak {
    width: 1025px;
    height: auto;
    padding-top: 31px;
    margin-bottom: 30px;
  }
}

.wrapperImageCard1 {
  position: relative;
  width: 492px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperImageCard1 {
    width: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperImageCard1 {
    width: 328px;
    height: 238px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .imgMobPrice1 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .imgMobPrice1 {
    position: absolute;
    width: 328px;
    height: 237.3px;
    bottom: -70px;
    left: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .imgMobPrice2 {
    position: absolute;
    width: 328px;
    height: 237.3px;
    bottom: 2px;
    right: -34px;
  }
}

.wrapperImageCard2 {
  position: relative;
  width: 492px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperImageCard2 {
    width: 80px;
  }
}

.price1 {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 60px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .price1 {
    width: 90px;
    height: 80px;
    z-index: 20;
    top: 0px;
    left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .price1 {
    width: 132px;
    height: 120px;
    z-index: 20;
    bottom: -74px;
    left: 62px;
  }
}
.price2 {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  right: 60px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .price2 {
    width: 90px;
    height: 80px;
    z-index: 20;
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .price2 {
    width: 132px;
    height: 120px;
    z-index: 20;
    bottom: 0px;
    right: 0px;
  }
}
.containerInfoSmak {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .containerInfoSmak {
    width: 260px;
    gap: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerInfoSmak {
    width: 440px;
    padding-top: 15px;
    gap: 20px;
  }
}
.subtitleSmak {
  color: #005087;
  font-size: 32px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .subtitleSmak {
    font-size: 20px;
    line-height: 30px;
  }
}
.textInfoSmak {
  width: 454px;
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .textInfoSmak {
    width: 100%;
    padding-right: 5px;
    font-size: 13px;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .textInfoSmak {
    width: 440px;
  }
}
.buttonSmak {
  display: flex;
  padding: 16px 40px;

  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .buttonSmak {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.cardTowSmak {
  display: flex;
  flex-direction: row;
  width: 1078px;
  height: 427px;
  padding-top: 71px;
  border-radius: 14px 14px 14px 14px;
  overflow: hidden;
  background-color: #cceffc;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .cardTowSmak {
    width: 360px;
    height: auto;
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cardTowSmak {
    width: 768px;
    height: 320px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .cardTowSmak {
    width: 1025px;
  }
}
.card2 {
  margin-left: 80px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .card2 {
    margin-left: 20px;
  }
}
