@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .itemInfoStand {
    height: auto;
  }
}

.listInfoStand {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoStand {
    margin-left: 0px;
  }
}
.itemTitleStand {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .itemTitleStand {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTitleStand {
    font-size: 25px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .itemTitleStand {
    font-size: 25px;
    line-height: 28px;
  }
}
.itemTitleStand2 {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 26px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .itemTitleStand2 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTitleStand2 {
    font-size: 21px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .itemTitleStand2 {
    font-size: 22px;
    line-height: 25px;
  }
}
.itemTextStand {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.itemTextStand:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .itemTextStand {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemTextStand {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
