@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .itemInfoStand {
    height: auto;
  }
}

.listInfoStand {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoStand {
    margin-left: 0px;
  }
}
