.sectionMap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 700px;
}
.titleMap {
  margin: 140px auto 80px auto;
  color: #f5821e;
  font-size: 60px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.containerMap {
  position: relative;
  height: 700px;
}
.wrapperInfoContacts {
  position: absolute;
  top: 0px;
  right: 30px;
  width: 450px;
  height: auto;
}
