.containerForFeedback {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 852px;
}
.titleFeedback {
  display: block;
  margin: 160px 329px 80px 329px;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.imageClient {
  margin-right: 40px;
}
.clientName {
  margin-left: 12px;
}
