.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
    display: none;
}

.react-calendar__navigation__label {
    order: -1;
}

.react-calendar {
    position: absolute; 
    z-index: 100;
    width: 370px !important;
    border: none !important;
    

}

.react-calendar__tile--active  {
    
    background: none !important;
    
    padding: 0px !important;
    
    
}

.react-calendar__tile--active > abbr {
background: #91C81E !important;
padding: 10px !important;
color: white !important;
border-radius: 50%;
}

.react-calendar__navigation__label__labelText--from {

    font-family: '__Montserrat_b1da2a', '__Montserrat_Fallback_b1da2a';
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    margin-left: 15px;
    color: #005087;

        
        
     
}

.react-calendar__month-view__days__day > abbr   {
    color: #005087;
    font-size: 16px;
    font-weight: 500;

}


.react-calendar__tile:disabled {
    border-radius: 50%
    
}