.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
    display: none;
}

.react-calendar__navigation__label {
    order: -1;
}


.react-calendar__tile {
    width: 40px;
    /* Задайте фиксированную ширину и высоту для ячеек */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.react-calendar {
    
    position: absolute; 
    z-index: 100;
    width: 370px !important;
    border-radius: 5% !important;
    transform: translateX(100px);
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .react-calendar {
        transform: translateX(10px);
    }
}

.react-calendar__tile--active  {
    
   background: none !important;

}


.react-calendar__navigation__label__labelText--from {

    font-family: '__Montserrat_b1da2a', '__Montserrat_Fallback_b1da2a';
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    margin-left: 15px;
    color: #005087;

        
        
     
}

.react-calendar__month-view__days__day > abbr   {
    color: #005087;
    font-size: 14px;
    

}

.react-calendar__tile:disabled {
    background: none !important;

}

.react-calendar__tile:disabled > abbr {
    background: none !important;
    width: 25px !important;
    height: 25px !important;;
    border-radius: 50% !important;
    
}

.react-calendar__tile:disabled .react-calendar__tile--hasActive  > abbr {
    background: none !important;

}

.react-calendar__tile:disabled >abbr {
    background: none !important;
    width: 25px !important;
    height: 25px !important;
    background: #E6EBF0 !important;
    border-radius: 50%;
    padding: 4px;
    color: #B3CBDB !important;

}




.react-calendar__tile--active abbr{
    background: #91C81E !important;
    border-radius: 50%;
    width: 25px !important;
    height: 25px !important;
    padding: 4px;
    font-weight: 500;
    color: white !important;

}

.react-calendar__tile--hasActive .react-calendar__year-view__months__month
 {
    background: none !important;
 }




 .react-calendar__tile--hasActive {
    background: gainsboro !important;
    border-radius: 6%;
    
    

 }


 .react-calendar {
    max-width: 330px !important;
 }