.containerChemical {
  position: relative;
  width: 100vw;

  background-color: #00aff0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .containerChemical {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}
.wrapperChemical {
  width: 1078px;
  height: 1092px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperChemical {
    width: 360px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperChemical {
    width: 768px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .wrapperChemical {
    width: 1025px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
  }
}
.custom-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .custom-wave {
    display: none;
  }
}
.custom-wave svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 156px;
}

.custom-wave .shape-fill {
  fill: #ffffff;
}
.titleChemical {
  width: 800px;
  margin: 0px auto 80px auto;
  padding-top: 150px;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .titleChemical {
    width: 360px;
    margin: 0px auto 30px auto;
    padding-top: 40px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titleChemical {
    width: 700px;
    margin: 0px auto 60px auto;
    padding-top: 100px;
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .titleChemical {
    font-size: 50px;
    margin: 0px auto 60px auto;
  }
}
.wrapInfo {
  display: flex;
  flex-direction: row;
  width: 1079px;
  margin-left: auto;
  margin-right: auto;
  gap: 125px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapInfo {
    width: 360px;
    gap: 15px;
    padding: 15px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapInfo {
    width: 768px;
    gap: 40px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .wrapInfo {
    width: 985px;
    gap: 22px;
  }
}
.styleText {
  display: flex;
  flex-direction: column;
  width: 422px;
  height: 160px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .styleText {
    width: 245px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .styleText {
    height: auto;
  }
}
.textChemical {
  padding-top: 40px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .textChemical {
    padding-top: 20px;
    margin-bottom: 0px;

    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .imgChemicalComposition {
    width: 100px;
    height: 114px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .imgChemicalComposition {
    width: 300px;
    height: 341.35px;
  }
}
