a {
  display: flex;
}

.sectionPobut {
  width: 100vw;
  height: auto;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .sectionPobut {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sectionPobut {
    width: 100%;
  }
}
.containerPobut {
  display: flex;
  flex-direction: column;
  width: 1078px;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 767px) {
  .containerPobut {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerPobut {
    width: 768px;
    height: auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .containerPobut {
    width: 1025px;
  }
}

.titlePobut {
  color: #f5821e;
  font-size: 60px;
  margin: 60px auto 40px auto;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .titlePobut {
    font-size: 30px;
    margin: 60px auto 40px auto;
    line-height: 35px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titlePobut {
    font-size: 42px;
    line-height: 46px;
    margin: 30px auto 30px auto;
  }
}
.wrapperItemsPobut {
  width: 1079px;
}
@media screen and (max-width: 767px) {
  .wrapperItemsPobut {
    width: 100%;
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapperItemsPobut {
    width: 768px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .wrapperItemsPobut {
    width: 1025px;
  }
}
.listAccessories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .listAccessories {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .listAccessories {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 768px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .listAccessories {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    width: 768px;
    justify-content: center;
    align-items: center;
  }
}

.itemAccessories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 203px;
  /* flex-basis: calc((100% - 64px) / 5); */
  height: 300px;
  box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.03);
  border-radius: 24px 24px 24px 24px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;

  & a {
    flex-direction: column;
    align-items: center;
  }
}

.itemAccessories:hover,
.itemAccessories.focus {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .itemAccessories {
    width: 100%;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .itemAccessories {
    max-width: 300px;
  }
}
.wrapperImgAccessories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  margin-bottom: 12px;
}

.descriptionAccessories {
  color: #005087;
  font-size: 24px;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
}
