.wrapperInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .wrapperInfo {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperInfo {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapperInfo {
    flex-direction: row;
  }
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .itemInfo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemInfo {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .itemInfo {
    padding-left: 10px;
  }
}

.wrapperImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .wrapperImg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperImg {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapperImg {
    width: 440px;
    height: auto;
  }
}

.img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .img {
    max-width: 360px;
    height: auto;
  }
}
