.wrapperInfo {
  width: 100%;
  height: auto;
  padding-top: 68px;
}

.itemInfo {
  height: auto;
}
@media screen and (max-width: 767px) {
  .itemInfo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemInfo {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .itemInfo {
    padding-left: 10px;
  }
}

.wrapperImg {
  display: block;
  float: right;
  margin-left: 16px;
  margin-bottom: 8px;
  width: 440px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .wrapperImg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperImg {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapperImg {
    display: block;
  }
}

.img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .img {
    max-width: 360px;
    height: auto;
  }
}
