.wrapperInfoFirstCard {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 392px;
  border-radius: 50px 50px 50px 50px;
  background-color: #00aff0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperInfoFirstCard {
    width: 360px;
    height: 250px;
    padding: 10px;
  }
}
.wrapperTextAndButtonFirstCard {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 226px;
  margin: 83px 70px 83px 40px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperTextAndButtonFirstCard {
    width: 340px;
    height: 230px;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }
}
.titleFirstCard {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .titleFirstCard {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
.textFirstCard {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .textFirstCard {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
}
.buttonFirstCard {
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .buttonFirstCard {
    width: 200px;
    height: 50px;
  }
}
.cornerBlueCard {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .cornerBlueCard {
    display: none;
  }
}
.imagesFirstmeetCard {
  margin-right: 40px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .imagesFirstmeetCard {
    display: none;
  }
}

.rotated-textCard {
  transform: rotate(302deg);
  transform-origin: left top;
  writing-mode: vertical-lr;
  position: absolute;
  right: 82px;
  top: 17%;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .rotated-textCard {
    display: none;
  }
}
.imagesFirstmeetCard {
  margin-right: 40px;
}



.swiper-pagination {
  position: unset !important;
} 



