.containerForm {
  display: flex;
  width: 750px;
  height: 626px;
  margin-left: auto;
  margin-right: auto;
}
.wrapperForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 750px;
  height: 626px;
}
.textLabel {
  color: #b3cbdb;
  font-size: 14px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
}
.textLabel:hover:focus {
  color: #5a5f69;
}
.inputText {
  display: flex;
  width: 367px;
  height: 52px;
  border: 1px solid #e6ebf0;
  border-radius: 8px 8px 8px 8px;
  color: #b3cbdb;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
.inputText:hover:focus {
  border: #5a5f69;
  color: #5a5f69;
}
.inputForHousCourpAppart {
  display: flex;
  width: 111.67px;
  height: 52px;
  border: 1px solid #e6ebf0;
  border-radius: 8px 8px 8px 8px;
  color: #b3cbdb;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
.inputForHousCourpAppart:hover:focus {
  border: #5a5f69;
  color: #5a5f69;
}
.calendarForm {
  display: flex;
  width: 367px;
  height: 52px;
  border: 1px solid #e6ebf0;
  border-radius: 8px 8px 8px 8px;
}
.dataForm {
  display: flex;
  width: 367px;
  height: 52px;
  border: 1px solid #e6ebf0;
  border-radius: 8px 8px 8px 8px;
}
.textArea {
  display: flex;
  width: 750px;
  height: 129px;
  color: #b3cbdb;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.textArea:hover:focus {
  color: #5a5f69;
}
