.sectionFormOrder {
  height: auto;
}

@media screen and (max-width: 1280px) {
  .sectionFormOrder {
    width: 100%;
  }
}
.containerForm {
  display: flex;
  width: 780px;
  height: auto;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .containerForm {
      width: 100%;
    max-width: 360px;
    padding: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .containerForm {
    width: 100%;
    padding: 0px;
    justify-content: center;
  }
}

.wrapperForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 750px;
  height: 626px;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .wrapperForm {
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperForm {
    flex-direction: column;
    width: 550px;
    height: auto;
  }
}

.textLabel {
  font-size: 14px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .textLabel {
    width: 100%;
    max-width: 360px;
  }
}


.inputText {
  display: flex;
  width: 100%;
  max-width: 367px;
  height: 52px;
  padding: 5px;
  border: 1px solid #b3cbdb;
  border-radius: 8px 8px 8px 8px;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  padding-inline-start: 10px;
}

@media screen and (max-width: 767px) {
  .inputText {
    max-width: 360px;
  }
}

.inputTextTime {
  display: flex;
  width: 100%;
  max-width: 367px;
  height: 52px;
  padding: 5px;
  border: 1px solid #b3cbdb;
  border-radius: 8px 8px 8px 8px;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  padding-inline-start: 10px;
}

@media screen and (max-width: 767px) {
  .inputTextTime {
    max-width: 360px;
  }
}


.houseGroup {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .houseGroup {
    width: 100%;
  max-width: 360px;
    height: auto;
    justify-content: space-between;
  }
}


.inputForHousCourpAppart {
  display: flex;
  width: 111.67px;
  height: 52px;
  border: 1px solid;
  border-radius: 8px 8px 8px 8px;
  /* color: #000203; */
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}
/* .inputForHousCourpAppart:hover:focus {
  border: #5a5f69;
  color: #5a5f69;
} */
.calendarForm {
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 52px;
  border: 1px solid;
  border-radius: 8px 8px 8px 8px;
}
.dataForm {
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 52px;
  border: 1px solid;
  border-radius: 8px 8px 8px 8px;
}

.textArea {
  display: flex;
  width: 100%;
  max-width: 750px;
  height: 129px;
  /* color: #008ae5; */
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  border: 1px solid #b3cbdb;
}
@media screen and (max-width: 767px) {
  .textArea {
    width: 100%;
  max-width: 360px;
  }
}

::placeholder {
  font-size: 14px;
  
}
.wrapperMethodPayment {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
}
@media screen and (max-width: 767px) {
  .wrapperMethodPayment {
    width: 100%;
  max-width: 360px;
  }
}

@media screen and (max-width: 767px) {
  .methodPayment {
    display: flex;
    flex-direction: column;
  }
}
.payment {
  margin-top: 20px;
  margin-bottom: 10px;
}

.radioButtonDescription {
  margin-right: 80px;
}
@media screen and (max-width: 767px) {
  .radioButtonDescription {
    margin-right: 30px;
  }
}
.radiobutton {
  margin-right: 10px;
}


.error { 
  color: red;
}