
.titleSafe {
  margin: 120px 148px 80px 148px;
  color: #f5821e;
  font-size: 60px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
.wrapperGeneral {
  display: flex;
  flex-direction: row;
  width: 1078px;
  margin: 0px auto 0px auto;
  gap: 125px;
}
.wrapForInfo {
  display: flex;
  flex-direction: column;
  /* width: 422px; */
}
.wrapForSvg {
  display: flex;
  flex-direction: row;
}

.textSteps {
width: 500px;

  color: #5a5f69;
  font-size: 16px;
  font-style: normal;

  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
}
.buttonSteps {
  display: flex;
  padding: 16px 40px;

  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}
