@media screen and (min-width: 360px) and (max-width: 767px) {
  .wrapperSafe {
    display: none;
  }
}

.titleSafe {
  margin: 120px 148px 80px 148px;
  color: #f5821e;
  font-size: 60px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
.wrapperGeneral {
  display: flex;
  flex-direction: row;
  width: 1078px;
  margin: 0px auto 0px auto;
  gap: 125px;
}
.wrapForInfo {
  display: flex;
  flex-direction: column;
  /* width: 422px; */
}
.wrapForSvg {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.containerForSteps {
  display: inline-flex;
  flex-direction: row;
  gap: 125px;
  margin-bottom: 120px;
}
.contSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}
.blockDescription {
  display: block;
  width: 422px;
}
.textDescription {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
}

.textSteps {
  width: 531px;

  color: #5a5f69;
  font-size: 16px;
  font-style: normal;

  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
}
.item {
  margin-bottom: 40px;
  cursor: pointer;
}

.titleStep {
  color: #5a5f69;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}
.active {
  color: #00aff0;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: uppercase;
}
.buttonSteps {
  display: flex;
  padding: 16px 40px;

  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}
