/* проверить отступы */
.listInfoBottleCover {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .listInfoBottleCover {
    margin-left: 0px;
  }
}
.itemTitleBottleCover {
  margin-bottom: 16px;
  color: #f5821e;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .itemTitleBottleCover {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTitleBottleCover {
    font-size: 28px;
    line-height: 30px;
  }
}
.itemTextBottleCover {
  color: #5a5f69;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  letter-spacing: 0;
  text-transform: none;
}

.itemTextBottleCover:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .itemTextBottleCover {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .itemTextBottleCover {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}

.perevagy {
  color: black;
  font-weight: 600;
}
