.containerNewClient {
  display: flex;
  position: relative;
  flex-direction: row;

  /* height: 438px; */
  padding-top: 80px;
  margin: auto;
}

.wrapperInfoNewClient {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 392px;
  border-radius: 50px 50px 50px 50px;
  background-color: #00aff0;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .wrapperInfoNewClient {
    width: 360px;
    height: 250px;
    padding: 10px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapperInfoNewClient {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapperInfoNewClient {
    width: 840px;
  }
.newClientImage{
  width: 450px;
  display: flex;
}
  .imagesNewClient{
    display: flex;
  }
}



.wrapperTextAndButtonNew {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 226px;
  margin: 83px 70px 83px 40px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .wrapperTextAndButtonNew {
    width: 340px;
    height: 230px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.titleNewClient {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .titleNewClient {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
}
.textNewClient {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .textNewClient {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
}
.buttonNewClient {
  width: 240px;
  min-height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .buttonNewClient {
    width: 200px;
    height: 50px;
  }
}
.cornerBlueNewClient {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .cornerBlueNewClient {
    display: none;
  }
}
.imagesNewClient {
  margin-right: 40px;
}
.rotated-textNewClient {
  transform: rotate(302deg);
  transform-origin: left top;
  writing-mode: vertical-lr;
  position: absolute;
  right: 188px;
  top: 30%;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 360px) and (max-width: 1023px) {
  .rotated-textNewClient {
    display: none;
  }
}
.sliderFirstMeet {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
.swiper-pagination {
  position: unset !important;
}

@media screen and (max-width: 1023px) {
  .imagesNewClient {
    display: none;
  }
}
