.sectionFirst {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.containerFirst {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1296px;
  height: 438px;
  margin: 80px auto 0px auto;
}
.arrowLeft {
  display: flex;
  /* align-content: center; */
  width: 48px;
  margin-right: 60px;
}
.arrowRight {
  display: flex;
  align-content: center;
  width: 48px;
  margin-left: 60px;
}
.wrapperInfoFirst {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 392px;
  border-radius: 50px 50px 50px 50px;
  background-color: #00aff0;
}
.wrapperTextAndButton {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 226px;
  margin: 83px 70px 83px 40px;
}
.titleFirst {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.textFirst {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
}
.buttonFirst {
  width: 240px;
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  background-color: #91c81e;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
}
.cornerBlue {
  position: absolute;
  top: 0;
  right: 0;
}
.imagesFirstmeet {
  margin-right: 40px;
}
.rotated-text {
  transform: rotate(302deg);
  transform-origin: left top;
  writing-mode: vertical-lr;
  position: absolute;
  right: 188px;
  top: 60px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.sliderFirstMeet {
  display: flex;
  justify-content: center;
  margin-bottom: 114px;
}
